
Library/ArtifactDB
Temp/UnityTempFile-faff2ed06a969144e971a24df0540c47
Temp/UnityTempFile-f93d4796eebf397479dd63749e88bc1c
Temp/UnityTempFile-f480daca5b8305f49aa2474d6b4da03c
Temp/UnityTempFile-e8fc3107ab128d14d8a46ad33e8d08e6
Temp/UnityTempFile-e4bbbb995faa7f94b8a302d70a035866
Temp/UnityTempFile-e31f31838781504479a712f69ec53f46
Temp/UnityTempFile-cf5e07b08b1f74d4fa6d9231bb5d1910
Temp/UnityTempFile-ca03e16a1a961f84889e6d0fac71fe92
Temp/UnityTempFile-bc4cdb36575e46a4cbb40f3ba680069c
Temp/UnityTempFile-bb20e9e346d8b87418c30c829f0d0538
Temp/UnityTempFile-ba212febc6c25114b83f572a3ce70381
Temp/UnityTempFile-b80c50e256ba4614b99fc518c285fbb5
Temp/UnityTempFile-b51f381674c178842a2af6533628a24d
Temp/UnityTempFile-b1ddf369019f9224e8ef03067b8ffaf0
Temp/UnityTempFile-affde8d5a617e9c46b1eb4b58b29f454
Temp/UnityTempFile-a843b940351b9e248910d8857c74a927
Temp/UnityTempFile-a6a67ecb22a9989448bb2a62009c0834
Temp/UnityTempFile-a4c8a5165abbde849999b0b18f0a234b
Temp/UnityTempFile-a0929b5eb3ac6c5478f0d0d0483f8faf
Temp/UnityTempFile-9a1d220e765bc704f890afcfb0c18562
Temp/UnityTempFile-8d2c0d676b875db4fb7ca0e20473a7ef
Temp/UnityTempFile-76c564309e3f3ae4da758dc9bab36061
Temp/UnityTempFile-734b5c51fffae644180750cbde798700
Temp/UnityTempFile-6ca7899426a176a4199d62b9946c7193
Temp/UnityTempFile-6ab0c39aecf685140b03927b79350d55
Temp/UnityTempFile-69e17e17fd17498459bd23377ea281db
Temp/UnityTempFile-4bea716fa84eae2458114073881639fb
Temp/UnityTempFile-33afb8fc434ab9c4ca024bbc88b9decc
Temp/UnityTempFile-30f27c6f7a6aaf641b9a7e51b0de7df5
Temp/UnityTempFile-206ba4cca9e0b444fb2f788374545445
Temp/UnityTempFile-1af4f517018025e46b4e75c909346080
Temp/UnityTempFile-1720987b933821644af23a71685b17a4
Temp/UnityTempFile-10b9bfb7c65b90f44b8fe5fe09726720
Temp/UnityTempFile-0449625d7f58abf4eb830666b105fd6d
Temp/UnityTempFile-042ae0734d579a2428f095dcb3fecabd
Temp/UnityLockfile
Temp/tempFile.resG
Temp/tempFile.res
Temp/ProcessJobs/c2017edb9791ac1359e4008716e4091e.bakert
Temp/__Backupscenes/0.backup
ml-agents/config/config.yaml
Library/StateCache/SceneView/15dbc3-mainStage.json
Library/StateCache/Hierarchy/cccf33-mainStage.json
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe9.log
Library/shadercompiler-UnityShaderCompiler.exe8.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe15.log
Library/shadercompiler-UnityShaderCompiler.exe14.log
Library/shadercompiler-UnityShaderCompiler.exe13.log
Library/shadercompiler-UnityShaderCompiler.exe12.log
Library/shadercompiler-UnityShaderCompiler.exe11.log
Library/shadercompiler-UnityShaderCompiler.exe10.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/Data/Plugins/lib_burst_generated.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.XR.LegacyInputHelpers.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SpatialTracking.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.ML-Agents.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Mathematics.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Burst.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Analytics.DataPrivacy.dll
Library/PlayerDataCache/Win64/Data/Managed/com.unity.multiplayer-hlapi.Runtime.dll
Library/PlayerDataCache/Win64/Data/Managed/BurstBLAS.dll
Library/PlayerDataCache/Win64/Data/Managed/Barracuda.dll
Library/PlayerDataCache/Win64/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/Data/level0
Library/PlayerDataCache/Win64/Data/globalgamemanagers
Library/LastBuild.buildreport
Library/EditorInstance.json
Library/Artifacts/ee/ee6667af20356e17b012fed6019490d6
Library/Artifacts/e4/e4a2eccb71a6bc73d0ef4b99ff27f280
Library/Artifacts/d8/d8acf3c2311f005d839d3322562d1a81
Library/Artifacts/d2/d2a958ebeed1da4ec3adb0cf2c0edce7
Library/Artifacts/cc/ccd6c37d069b597c26315d58e549bb32
Library/Artifacts/c9/c913f050239d6476b45a04cd0437ecfd
Library/Artifacts/c4/c4f241164ad13ec9e71ec9b2343d371a
Library/Artifacts/bd/bd6201a18b1e521b8f58e85fb40fd137
Library/Artifacts/b8/b87b4f12f6c499611a7ecf82554a1a92
Library/Artifacts/b7/b7368c9df1ad769a687e0453359ca8be
Library/Artifacts/b0/b0df43437588d4438df68ce6223f6065
Library/Artifacts/a4/a4b128c303656ff309f87532af0e247c
Library/Artifacts/93/93b2a4577299d080ae168843d284d0a6
Library/Artifacts/91/9132a4716e3cb626b9eda421db1abbba
Library/Artifacts/8b/8b772ffdcc7e104ac6447d3dbe87f898
Library/Artifacts/88/88c5b15290a4291b297b468c13596c6d
Library/Artifacts/87/87deb49e2bf6e354d9918d268423b700
Library/Artifacts/85/8540602fed0db39d78a855cf62c02450
Library/Artifacts/6f/6fde318fd62d2664836386333b5b4836
Library/Artifacts/6f/6f452e123ec29fd26317a8b1cb194aa3
Library/Artifacts/6a/6aebae7ad714a8d78ebc55848cf089f6
Library/Artifacts/66/66897f935d810eea330092ae81e516e3
Library/Artifacts/4c/4c8aafeaee0abee5f9a7fc3697c59e34
Library/Artifacts/4b/4b3e3dd484f34c5470160a1bf8d0b8f3
Library/Artifacts/47/477be01a5a93af783d5cc067c3525096
Library/Artifacts/32/32a2a2fb1211808b0b83d6db891e8dc3
Library/Artifacts/25/250cf0d3c7c57d8a755ccc1fbc19dbf2
Library/Artifacts/19/1981b5369a548c9bf2bd596d6b09649f
Library/Artifacts/16/16a6b6c5776fb8ff9d3b686340d8ef84
Library/Artifacts/03/0360a3ef0eae1c00d6f921fbff4d2222
Library/Artifacts/02/02216a0bda355b4372540a3b12520280
Library/ArtifactDB
ml-agents/config/config.yaml
Library/StateCache/SceneView/15dbc3-mainStage.json
Library/StateCache/Hierarchy/cccf33-mainStage.json
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe9.log
Library/shadercompiler-UnityShaderCompiler.exe8.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe15.log
Library/shadercompiler-UnityShaderCompiler.exe14.log
Library/shadercompiler-UnityShaderCompiler.exe13.log
Library/shadercompiler-UnityShaderCompiler.exe12.log
Library/shadercompiler-UnityShaderCompiler.exe11.log
Library/shadercompiler-UnityShaderCompiler.exe10.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/Data/Plugins/lib_burst_generated.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.XR.LegacyInputHelpers.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SpatialTracking.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.ML-Agents.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Mathematics.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Burst.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Analytics.DataPrivacy.dll
Library/PlayerDataCache/Win64/Data/Managed/com.unity.multiplayer-hlapi.Runtime.dll
Library/PlayerDataCache/Win64/Data/Managed/BurstBLAS.dll
Library/PlayerDataCache/Win64/Data/Managed/Barracuda.dll
Library/PlayerDataCache/Win64/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/Data/level0
Library/PlayerDataCache/Win64/Data/globalgamemanagers
Library/LastBuild.buildreport
Library/Artifacts/ee/ee6667af20356e17b012fed6019490d6
Library/Artifacts/e4/e4a2eccb71a6bc73d0ef4b99ff27f280
Library/Artifacts/c9/c913f050239d6476b45a04cd0437ecfd
Library/Artifacts/c4/c4f241164ad13ec9e71ec9b2343d371a
Library/Artifacts/bd/bd6201a18b1e521b8f58e85fb40fd137
Library/Artifacts/b8/b87b4f12f6c499611a7ecf82554a1a92
Library/Artifacts/b7/b7368c9df1ad769a687e0453359ca8be
Library/Artifacts/b0/b0df43437588d4438df68ce6223f6065
Library/Artifacts/91/9132a4716e3cb626b9eda421db1abbba
Library/Artifacts/8b/8b772ffdcc7e104ac6447d3dbe87f898
Library/Artifacts/88/88c5b15290a4291b297b468c13596c6d
Library/Artifacts/87/87deb49e2bf6e354d9918d268423b700
Library/Artifacts/4c/4c8aafeaee0abee5f9a7fc3697c59e34
Library/Artifacts/32/32a2a2fb1211808b0b83d6db891e8dc3
Library/Artifacts/25/250cf0d3c7c57d8a755ccc1fbc19dbf2
Library/Artifacts/02/02216a0bda355b4372540a3b12520280
Library/ArtifactDB
*.log
ml-agents/config/config.yaml
Library/StateCache/SceneView/15dbc3-mainStage.json
Library/StateCache/Hierarchy/cccf33-mainStage.json
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe9.log
Library/shadercompiler-UnityShaderCompiler.exe8.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe15.log
Library/shadercompiler-UnityShaderCompiler.exe14.log
Library/shadercompiler-UnityShaderCompiler.exe13.log
Library/shadercompiler-UnityShaderCompiler.exe12.log
Library/shadercompiler-UnityShaderCompiler.exe11.log
Library/shadercompiler-UnityShaderCompiler.exe10.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/Data/Plugins/lib_burst_generated.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.XR.LegacyInputHelpers.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SpatialTracking.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.ML-Agents.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Mathematics.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Burst.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Analytics.DataPrivacy.dll
Library/PlayerDataCache/Win64/Data/Managed/com.unity.multiplayer-hlapi.Runtime.dll
Library/PlayerDataCache/Win64/Data/Managed/BurstBLAS.dll
Library/PlayerDataCache/Win64/Data/Managed/Barracuda.dll
Library/PlayerDataCache/Win64/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/Data/level0
Library/PlayerDataCache/Win64/Data/globalgamemanagers
Library/LastBuild.buildreport
Library/Artifacts/ee/ee6667af20356e17b012fed6019490d6
Library/Artifacts/e4/e4a2eccb71a6bc73d0ef4b99ff27f280
Library/Artifacts/c9/c913f050239d6476b45a04cd0437ecfd
Library/Artifacts/c4/c4f241164ad13ec9e71ec9b2343d371a
Library/Artifacts/bd/bd6201a18b1e521b8f58e85fb40fd137
Library/Artifacts/b8/b87b4f12f6c499611a7ecf82554a1a92
Library/Artifacts/b7/b7368c9df1ad769a687e0453359ca8be
Library/Artifacts/b0/b0df43437588d4438df68ce6223f6065
Library/Artifacts/91/9132a4716e3cb626b9eda421db1abbba
Library/Artifacts/8b/8b772ffdcc7e104ac6447d3dbe87f898
Library/Artifacts/88/88c5b15290a4291b297b468c13596c6d
Library/Artifacts/87/87deb49e2bf6e354d9918d268423b700
Library/Artifacts/4c/4c8aafeaee0abee5f9a7fc3697c59e34
Library/Artifacts/32/32a2a2fb1211808b0b83d6db891e8dc3
Library/Artifacts/25/250cf0d3c7c57d8a755ccc1fbc19dbf2
Library/Artifacts/02/02216a0bda355b4372540a3b12520280
Library/ArtifactDB
